.container-slider {
  max-width: 1000px;
  height: 500px;
  margin: 100px auto 0;
  position: relative;
}

.container-slider-dark {
  background-color: #575757;
  color: white;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #fff;
}
.slidedark{
    width: 100%;
      height: 100%;
      position: absolute;
      background-color: #333;
}

.slide>h1 {
  color: black;
}
.slidedark>h1 {
  color: #fff;
}

                                     
.slide img {
  width: 100%;
  height: 100%;
}
.slidedark img {
  width: 100%;
  height: 100%;
}


.btn-slide {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #0B5BC6, #F797FF);
  border: 1px solid;
  position: absolute;
  cursor: pointer;
}

.btn-slide img {
  width: 20px;
  height: 20px;
}

.prev {
  top: 50%;
  left: 20px;
}

.next {
  top: 50%;
  right: 20px;
}

.download-button {
  background-image: linear-gradient(to right, #0B5BC6, #F797FF);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
}


.container-slider-dark .btn-slide {
  background-image: linear-gradient(to right, #0B5BC6, #F797FF);
  border-color: white;
}

.container-slider-dark .download-button {
  background-image: linear-gradient(to right, #0B5BC6, #F797FF);
  color: white;
}



